.bodyProperties {
  background-color: rgb(134, 168, 147);
  text-align: center;
}
.main {
  text-align: center;
  margin-top: 10vh;
  
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #3b3096;
    color: rgb(255, 255, 255);
    margin: 1vh;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
    margin: 1vh;
  }
  .image {
    margin-bottom: 2vh;
    max-height: 30vh;
    min-height: 30vh;
  }
  .formulario {
    display: contents;
  }
  .label{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
  }

  h1 {
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
  }