div{
    width: 200px;
    height: 200px;
}

.top-container{
   background-color: red; 
   position: relative;
   top: 200px;
   left: 400px;
}

.middle-container{
    background-color: blue;

}

.bottom-container{
    background-color: yellow;
    position: relative;
    bottom: 200px;
    left: 200px;
}